@import "../../styles/utils.scss";

.container {
  background-color: $background-gray;
  border-radius: 10px;
  padding: 5px;
}

.header {
  position: relative;
  height: 20px;
}

.headerItem {
  display: flex;
  align-items: center;
  height: 100%;
}

.modeOptions {
  position: absolute;
  width: 100px;
  left: 10px;
  top: 30px;
  background-color: $background-gray;
  border: 1px solid $border-gray;
}

.modeOption {
  display: flex;
  column-gap: 2px;
}

.optionIcon {
  width: 10px;
  height: 10px;
  background-image: url("../../resources/notchecked.gif");

  .current & {
    background-image: url("../../resources/checked.gif");
  }
}

.optionText {
  &:hover {
    color: $font-blue;
  }
}

.border {
  padding: 10px;
  border: 1px solid $border-gray;
}

.modalInner {
  width: 180px;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  background-color: $background-gray;
  border: 2px solid $border-gray;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
}

.errorWrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 6px;
  row-gap: 4px;
  margin-bottom: 10px;
}

.inputs {
  display: grid;
  padding: 6px;
  grid-template-columns: 50px 80px;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 10px;
}

.buttonWrapper {
  @include flex-center;
  width: 100%;
}

.button {
  border: 1px solid $border-gray;
  width: 50px;
}
