@import "../../../styles/utils.scss";

.container {
  @include flex-center;
  width: 32px;
  height: 32px;
}

.icon {
  width: 24px;
  height: 24px;

  &::before {
    content: url("../../../resources/delete.svg");
  }
}
